<nav>
  <a href="/users"> Choose friends</a>
  <a href="/events">Browse Events</a>
  <a href="/friends">My Friends</a>
  <%= link_to "Log Out", deletion_station_path, method: :delete %>
</nav>
<div ng-controller="EventApiController" id="my-events-container">
<!--  TODO: would like to show only uniques, better yet only save uniques-->
  <h1>Your favorite events</h1>
  <div class="row">
    <%@myFaves.each do |myfave|%>
      <div class="fave-details-container col">
        <h3><%= myfave.event.title%></h3>
        <img src="<%= myfave.event.image_url%>">
        <div class="friend-container">
<!--  TODO: would want to limit this to only display a certain number and then stop, with a lot of users this would be too big-->
          <%friendArray = []%>
          <%@myFriends.each do |friend|%>
            <% friend.friend.favorites.each do |fave|%>
              <% if myfave.event.id == fave.event.id%>
                <%friendArray.push(friend.friend)%>
              <%end%>
            <%end%>
          <%end%>
          <%friendArray = friendArray.uniq%>
          <% if friendArray.size > 0 %>
            <p>These friends are also interested: <%friendArray.each_with_index do |friend, index|%>
              <%if index == friendArray.size - 1%>
                <a href="mailto:<%=friend.email%>?subject=Yo%20Zaposphere%20I%20love%20your%20work&body=hello"><%=friend.username%></a>
              <%else%>
                <a href="mailto:<%=friend.email%>?subject=Join%20me%20for%20<%=myfave.event.title%>&#63&body=Hey!%0D%0AI%20saw%20on"><%=friend.username%></a>,
              <%end%>
            <%end%></p>
          <%end%>
        </div>
      </div>

      <%end%>
    </div>
</div>
