<h1>Log In Here</h1>
<div id="log-in-container">
<%= form_tag '/sessions', method: :post do %>

  <%= label_tag :username %>
  <br>
  <%= text_field_tag :username %>
  <br>
  <%= label_tag :password %>
  <br>
  <%= password_field_tag :password %>
  <br>
  <%= submit_tag "Log In" %>

<% end %>
<h6><%= link_to "Need an account? Sign Up", new_user_path %></h6>

</div>
