<div id="sign-up-container" class="auth-form">
  <div class="links-container">
    <div class="sign-and-log-link selected">Sign Up</div><div class="sign-and-log-link unselected"><%= link_to "Log In", log_in_path %></div>
  </div>
  <%= form_for @user do |f| %>
    <br>
    <%= f.text_field :username, placeholder: "Username" %>

    <%= f.text_field :email, placeholder: "Email" %>

    <!-- note that this is a password field, dont mess this up! -->
    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

    <%= f.submit %>
  <% end %>


</div>
