<div id="sign-up-container" class="auth-form">
  <div class="links-container">
    <div class="sign-and-log-link selected">Sign Up</div><div class="sign-and-log-link unselected"><%= link_to "Log In", log_in_path %></div>
  </div>
  <%= form_for @user do |f| %>
    <br>
    <%= text_field_tag :username, nil, placeholder: "Username" %>
    <br>
    <!-- note that this is a password field, dont mess this up! -->
    <%= password_field_tag :password, nil, placeholder: "Password" %>
    <br>
    <%= password_field_tag :password_confirmation, nil, placeholder: "Confirm Password" %>
    <br>
    <%= submit_tag %>
  <% end %>


</div>
